Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore

@aprelika17
maryregen
/
stream-17-java-demoqa-tests
Public
Fork your own copy of maryregen/stream-17-java-demoqa-tests
Code
Issues
Pull requests
Actions
Projects
Security
Insights
stream-17-java-demoqa-tests/.gitignore
@maryregen
maryregen Added project Demoqa to different repository
Latest commit 2c6b219 last month
 History
 1 contributor
59 lines (51 sloc)  783 Bytes

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/

# Default ignored files
/shelf/
/workspace.xml
### Example user template template
### Example user template

# IntelliJ project files
out
gen
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
stream-17-java-demoqa-tests/.gitignore at master · maryregen/stream-17-java-demoqa-tests